.grid-sys {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* background-color: rgb(230, 230, 230); */
}

.left-col h1 {
  font-size: 4.2rem;
  color: #222;
}
.left-col h1 span {
  color: #ff2d55;
}
.left-col p {
  margin-top: 10px;
  color: #555;
}
.cta-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #fff;
  border: 2px solid #ff2d55;
  color: #ff2d55;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
}
.cta-button:hover {
  background: #ff2d55;
  color: #fff;
}


.left-col {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  height: 70vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(230, 230, 230); */

  

}

.right-col {
  background-image: url(./background.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  height: 70vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between items */
  position: relative;
}

/* .right-col h2 {
  color: #575757;
  align-self: flex-start; Aligns h2 to the left
  margin-top: 0; Optional: remove top margin if you want it right at the top
} */

.right {
     top: 10px;
     right: 10px;

}

.left {
    bottom: 10px;
    left: 10px;
}

.google-card {
  margin-top: auto; /* This pushes the card to the bottom */
  background: linear-gradient(rgb(0, 0, 0), rgba(11, 0, 161, 0.596));
  padding: 20px;
  color: #ffffff;
  width: 150px;
  height: 170px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  position:absolute;
}

.g-logo {
     width: 50px;  /* Adjust width as needed */
     height: auto;  /* Maintain aspect ratio */
     margin-bottom: 10px;
}

.rating {
    display: flex;
    margin-top: 10px;
}

.star{
    color:gold;
}

/* Responsive (optional) */
@media (max-width: 768px) {
  .grid-sys {
    grid-template-columns: 1fr;
  }

  .google-card {
    grid-column: span 1;
  }
}
