/* Basic reset */
.Navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar {
    position:sticky;
    top:0;
    z-index:1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cecece42;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 60px; /* Adjust the size of the logo */
    margin-right: 10px; /* Space between the logo and the company name */
  }
  
  .company-name {
    color: #1D1D1D;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: #1D1D1D;
    text-decoration: none;
    font-size: 20px;
    transition: text-decoration 0.2s ease-in-out;
  }

  .nav-links a:hover {
    text-decoration: underline;
  }

  .contact-btn {
    padding: 10px 20px;
    background-color: #1D1D1D;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .contact-btn:hover {
    background-color: #ddd;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-header {
      flex-direction: row;
    }
  
    .navbar-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 10px;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      margin: 10px 0;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .contact-btn {
      display: none;
    }
  
    .hamburger {
      display: block;
      font-size: 28px;
      background: none;
      border: none;
      color: #1D1D1D;
      cursor: pointer;
    }
  }
  