.slider-container {
    overflow-x: auto;
    padding: 20px;
    height: 50vh;
    justify-items: center;
    align-items: center;
    display: flex;
  }
  
  .slider {
    display: flex;
    gap: 20px;
    width: max-content;
  }
  
  .box {
    flex: 0 0 200px;
    height: auto;
    color: rgb(32, 32, 32);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  
  .icon {
    margin-bottom: 10px;
    color: #0d6efd;
  }
  
  .box h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 14px;
    opacity: 0.85;
  }
  